<div id="employers">
  <div class="container wrapper">
    <h2 class="section-title">{{{employers.title}}}</h2>
    <div class="employers-list row">
      <div class="col-sm-12 col-md-4">
        <a href="{{{employers.employer-1.link}}}" title="{{{employers.employer-1.name}}}">
          <img class="{{{employers.employer-1.logo.class}}}" src="{{{employers.employer-1.logo.path}}}" alt="{{{employers.employer-1.name}}}">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a href="{{{employers.employer-2.link}}}" title="{{{employers.employer-2.name}}}">
          <img class="{{{employers.employer-2.logo.class}}}" src="{{{employers.employer-2.logo.path}}}" alt="{{{employers.employer-2.name}}}">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a href="{{{employers.employer-3.link}}}" title="{{{employers.employer-3.name}}}">
          <img class="{{{employers.employer-3.logo.class}}}" src="{{{employers.employer-3.logo.path}}}" alt="{{{employers.employer-3.name}}}">
        </a>
      </div>
    </div>
  </div>
</div><!-- end #employers -->
