<div id="mission">
  <div class="container wrapper">
    <h2 class="section-title">{{{mission.title}}}</h2>
    <div class="copy-wrapper">
      <p class="section-copy">{{{mission.copy.p1}}}</p>
      <p class="section-copy">{{{mission.copy.p2}}}</p>
      <p class="section-copy">{{{mission.copy.p3}}}</p>
      <p class="section-copy">{{{mission.copy.p4}}}</p>
      <p class="section-copy">{{{mission.copy.p5}}}</p>
      <p class="section-copy">{{{mission.copy.p6}}}</p>
      <p class="section-copy">{{{mission.copy.p7}}}</p>
    </div>
  </div>
</div><!-- end #mission -->
