<div id="skills">
  <div class="wrapper">
    <div class="{{{skills.skill-1.class}}}">
      <div class="front">
        {{{skills.skill-1.name}}}
      </div>
      <div class="back">
        <h3 class="subheading">{{{skills.skill-1.experience}}}</h3>
        <p class="section-copy">{{{skills.skill-1.copy}}}</p>
      </div>
    </div>
    <div class="{{{skills.skill-2.class}}}">
      <div class="front">
        {{{skills.skill-2.name}}}
      </div>
      <div class="back">
        <h3 class="subheading">{{{skills.skill-2.experience}}}</h3>
        <p class="section-copy">{{{skills.skill-2.copy}}}</p>
      </div>
    </div>
    <div class="{{{skills.skill-3.class}}}">
      <div class="front">
        {{{skills.skill-3.name}}}
      </div>
      <div class="back">
        <h3 class="subheading">{{{skills.skill-3.experience}}}</h3>
        <p class="section-copy">{{{skills.skill-3.copy}}}</p>
      </div>
    </div>
    <div class="{{{skills.skill-4.class}}}">
      <div class="front">
        {{{skills.skill-4.name}}}
      </div>
      <div class="back">
        <h3 class="subheading">{{{skills.skill-4.experience}}}</h3>
        <p class="section-copy">{{{skills.skill-4.copy}}}</p>
      </div>
    </div>
    <div class="{{{skills.skill-5.class}}}">
      <div class="front">
        {{{skills.skill-5.name}}}
      </div>
      <div class="back">
        <h3 class="subheading">{{{skills.skill-5.experience}}}</h3>
        <p class="section-copy">{{{skills.skill-5.copy}}}</p>
      </div>
    </div>
    <div class="{{{skills.skill-6.class}}}">
      <div class="front">
        {{{skills.skill-6.name}}}
      </div>
      <div class="back">
        <h3 class="subheading">{{{skills.skill-6.experience}}}</h3>
        <p class="section-copy">{{{skills.skill-6.copy}}}</p>
      </div>
    </div>
  </div>
</div><!-- end #skills -->
