<div id="article-hero" class="">
  <div class="wrapper" style="background-image: url('{{{hero-img}}}');">
    <div class="overlay">
      <div class="container">
        <h2 class="article-title">{{{title}}}</h2>
        <p class="article-blurb">{{{blurb}}}</p>
        <p class="tweet-this">
          <a href="https://twitter.com/intent/tweet?text='{{{blurb}}}' @thejessicafelts http://www.jessicafelts.com{{{link.path}}}&source=clicktotweet&related=clicktotweet" title="{{{title}}} by Jessica Felts" target="_blank">
            <i class="fa fa-twitter fa-x2"></i> Tweet This
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- NOTE: 237 Character Limit for Blurb -->
