<div id="social">
  <div class="container">
    <nav id="social-nav">
      <ul class="row">
        <li class="list-item {{{social.social-2.class}}}">
          <a href="{{{social.social-2.link.path}}}" title="{{{social.social-2.link.title}}}" target="_blank">
            <i class="fa fa-{{{social.social-2.icon}}} fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-item {{{social.social-3.class}}}">
          <a href="{{{social.social-3.link.path}}}" title="{{{social.social-3.link.title}}}" target="_blank">
            <i class="fa fa-{{{social.social-3.icon}}} fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-item {{{social.social-4.class}}}">
          <a href="{{{social.social-4.link.path}}}" title="{{{social.social-4.link.title}}}" target="_blank">
            <i class="fa fa-{{{social.social-4.icon}}} fa-3x" aria-hidden="true"></i>
          </a>
        </li>
        <li class="list-item {{{social.social-5.class}}}">
          <a href="{{{social.social-5.link.path}}}" title="{{{social.social-5.link.title}}}" target="_blank">
            <i class="fa fa-{{{social.social-5.icon}}} fa-3x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav><!-- end #social-nav -->
  </div>
</div><!-- end #nav -->
